
html {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }
a, a:visited, a:hover, a:active { color: inherit; }

body {
  background-color: darkslategray;
  /* font-family: arial; */
    font-family: "Raleway", arial;
}

/* Add some padding to force scrollbars*/
.para_layer {
  padding: 100vh 0;
}
/*Center content in the parallax layer*/
.title-block {  
  position: relative;
  margin: 10%;
  font-size: 200%;
}

.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* font-size: 200%; */
  scroll-behavior: smooth;
}
.parallax_group {
  position: relative;
  height: 50vh;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
}
.persp-view {
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}

/*scale adjust formula: scale = 1 + (tranzlateZ * -1) / perspective */
.parallax_layer-fore {
  transform: translateZ(60px) scale(.8);
  z-index: 1;
}
.parallax_layer-base {  
  transform: translateZ(0);
  z-index: 4;
}
.parallax_layer-back {
  /* transform: translateZ(-300px) scale(2); */
  transform: translateZ(-1500px) scale(6);
  z-index: 3;
}
.parallax_layer-deep {
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}

.no-parallax {
  position: relative;
}

.nav-container {
  /* position: -webkit-sticky; */
  position: fixed;
  display: flex;  
  flex-flow: column nowrap;
  justify-content: flex-end;
  top: 0;
  right: 1em;
  left: 0;
  z-index: 10;
  /* min-height: 5em; */
   
  background-color: rgba(13, 28, 32, .8);
  color: rgb(143, 220, 238);  
}
.nav-menu {  
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: auto;  
  height: auto;  
  max-height: 3em;
  transition: none;
  margin: 1em 0;

  list-style-type: none;  
}
.nav-menu li {
  margin-left: 1em;
  /* border: 1px solid rgb(143, 220, 238); */
}

.nav-container label, input{
  display: none;
}


.other-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  background-color: #1a3942;
  color: rgb(143, 220, 238);
  font-size: 200%;
  padding: .7em 0;
}
.other-content > p {
  max-width: 80%;
}

#hero { z-index: -1; height: 100vh;}
#hero .parallax_layer-base {  
  color: rgb(26, 163, 204);  
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#hero .title {
  font-size: 3.5em;  
}
#hero .parallax_layer-back {  
  background-image: url("./images/daylight-environment-forest-idyllic-459225.jpg");
  background-size: cover;
  background-position: center;  
  height: 100vh;
  margin-left: -12px;
}

#group2 { z-index: 3;}
#group2 .parallax_layer-fore {  
  min-height: 50vh;
  /* border: 3px solid yellow; */
}
#group2 .parallax_layer-base {  
  background-image: url("./images/panoramic-view-of-city-lit-up-at-night-311012.jpg");
  background-size: cover;
  background-position: center;
  /* margin-top: 25vh; */
  height: 50vh;
}
#group2 .text-layer2 {
  width: 40vw;
  margin: 1em 0 0 1em;
  padding-bottom: .4em;
  font-size: 150%;
  color: rgb(247, 250, 251);
  background-color: rgba(50, 50, 50, 0.4);
}

#services .parallax_layer {
  position: relative;  
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 50vh;  
  
  background-color: #1a3942;
  color: rgb(143, 220, 238);
  
}

#services .services-hdg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 160%;
  margin: 0 1em;
}

#services .services-hdg h3{
  margin-top: .5em;
  text-align: center;
}

#services .categories {
  display: grid;
  grid-template-columns: repeat( 3, 7em);
  grid-template-rows: repeat( 3, 7em); 
  grid-gap: .5em;    

  font-size: 110%;
  padding: .5em;
  margin-right: 1em;
  background-color: #1a6a6a
}

#services .box{
  padding: .5em;
  border: 1px solid peachpuff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;  
  border-radius: 4px;
  
  background-color: #132c33
}

#services .box:hover {
  font-weight: 600;
  border-width: 3px;
}
#services .b1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#services .b2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
#services .b3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
#services .b4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
#services .b5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
#services .b6 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

/* #services .photo {
  border: 1px solid palevioletred;  
  max-width: 345px;
  height: 100%;
}
 */

/* #services .photo img{
  width: 100%;  
  object-fit: cover;
  max-height: 450px;
} */

#group3 { z-index: 3;}
#group3 .parallax_layer-fore {  
  height: 50vh;  
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}
#group3 .parallax_layer-base {  
  background-image: url("./images/bright-countryside-dawn-daylight-302804.jpg");  
  background-size: cover;
  background-position: center; 
  height: 50vh;
}

#group3 .text-layer3 {
  width: 40vw;  
  font-size: 150%;
  text-align: right;
  color: rgb(247, 250, 251);
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: .25em;
}

#group3 .text-layer3 p {
  font-weight: 600;
}

.contact-us {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  background-color: #1a3942;
  color: rgb(143, 220, 238);
  font-size: 200%;
  padding: .7em 0;

  flex-direction: column;
  text-align: center;
  /* margin: 0 1em; */
}
.contact-us p {
  margin: .5em 0;
}


#group5 { z-index: 3;}
#group5 .parallax_layer-fore {  
  height: 50vh;
  display: flex;
  justify-content: left;
  padding: 1em;
}
#group5 .parallax_layer-base {  
  background-image: url("./images/flight-landscape-nature-sky-36717.jpg");
  background-size: cover;
  background-position: center; 
  height: 50vh;
}
#group5 .text-layer5 {
  width: 45vw;  
  font-size: 150%;
  text-align: left;
  color: rgb(247, 250, 251);
}
/* #group5 .text-layer5 p {
  font-weight: 600;
} */

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  background-color: #0d1c20;
  color: rgb(143, 220, 238);
  /* color: #40eaea; */
  font-size: 100%;
  padding: .7em 0;
}
.footer span{
  padding: 0 .3em;  
}
.footer .seperator {  
  font-size: 150%;
}

@media all and (max-width: 699px) {
  .nav-container {
    flex-direction: row;
    background-color: rgba(13, 28, 32, .8)
  }  
  .nav-container label {
    display: block;
    margin: .5em;
  }
  .hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 1.1em;   
    margin-right: 0.3em;
    border-top: 0.15em solid rgb(143, 220, 238);
    border-bottom: 0.15em solid rgb(143, 220, 238);    
  }
  .hamburger:before {
      content: "";
      position: absolute;
      top: 0.35em;
      left: 0px;
      width: 100%;
      border-top: 0.15em solid rgb(143, 220, 238);      
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    right: 0;    
    flex-flow: column nowrap;    
    width: 0;
    
    max-height: 12em;
    text-align: left;
    overflow: hidden;
    transition: all .4s ease-in-out;

    margin: 0;
    background-color: rgba(13, 28, 32, .6);
  }
  .nav-menu li {
    padding: 0.3em .4em;
    margin: .2em .6em;
    background-color: rgba(13, 17, 14, .7);  
    font-size: 120%;
  }
  .nav-menu li:last-child {
    margin-bottom: .8em;
  }  
  .nav-menu li:first-child {
    margin-top: .8em;
  }  
  #nav-toggle:checked ~ .nav-menu { 
    width: 50%;
  }
  

  .other-content {
    font-size: 150%;
  }

  #hero .title-block {
    font-size: 100%;
    margin: 1em;
  }
  #hero .sub-title {
    font-size: 125%;
  }

  #group2 .text-layer2 {  
    font-size: 110%;
    width: 55vw;
    margin: .5em 0 .5em .5em;
  }

  #services .parallax_layer {
    flex-direction: column;  
   
    /* justify-content: space-around; */   
    
  }  
  #services .services-hdg {    
    font-size: 120%;
    margin: 1em;
    padding-bottom: .25em;
    border-bottom: 1px solid #40eaea;
    /* blueviolet */
  }
  #services .categories {
    grid-template-columns: repeat( 2, 7em);
    grid-gap: .3em;  
    margin: 0 0 1em 0;
  }
  #services .box {
    border-radius: 50%;
    transform: rotate(-15deg);
  }  

  #services .b1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  #services .b2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #services .b3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  #services .b4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  #services .b5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  #services .b6 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  } 

  #group3 .parallax_layer-fore {
    padding: 0 .25em;
  }
  #group3 .text-layer3 {    
    width: 50%;
    font-size: 107%;
  }

  #group5 .text-layer5 {
    width: 100vw;
    font-size: 110%;
  }

  .footer {
    flex-direction: column;
  }
  .footer span {
    margin: .2em;
    font-size: .9em;
  }
  .footer .seperator {
    display: none;
  }
} /* End @media all and (max-width: 699px) */


