*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: darkslategray;
  font-family: "Raleway", arial;
}

del {
  text-decoration-color: darkorange;
  text-decoration-thickness: .2em;
}

.nav-container {
  /* position: -webkit-sticky; */
  position: fixed;
  display: flex;  
  flex-flow: column nowrap;
  justify-content: flex-end;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  /* min-height: 5em; */
   
  background-color: rgba(13, 28, 32, .8);
  color: rgb(143, 220, 238);  
}
.nav-menu {  
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: auto;  
  height: auto;  
  max-height: 3em;
  transition: none;
  margin: 1em 0;

  list-style-type: none;  
}
.nav-menu li {
  margin-left: 1em;
  /* border: 1px solid rgb(143, 220, 238); */
}

.nav-container label, input{
  display: none;
}

.sticky-img {
  position: relative;  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* fixed = sticky-image "paralax" effect,  */
  /* scroll = normal inline scrolling */
  background-attachment: fixed;
}

.basic-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  background-color: #1a3942;
  color: rgb(143, 220, 238);  
  padding: .7em 0;
}

#hero {  
  position: relative;
  color: rgb(26, 163, 204);  
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-image: url("./images/daylight-environment-forest-idyllic-459225.jpg");  
  /* height: 96vh; */
  height: 100vh;
}
#hero .title-block {
  position: relative;
  margin: 10%;
  font-size: 200%;
}
#hero .title {
  font-size: 3.5em;  
}

#hero-overlay.title-block {
  position: absolute;
  bottom: 5vh;
  transform: rotate(-15deg);
  color: darkorange;
  font-family: 'Black Ops One', "Raleway", arial;
}

#intro > p {
  max-width: 80%;
  font-size: 200%;
}

.text-overlay {
  width: 40vw;
  margin: 1em 0 0 1em;
  padding-bottom: .4em;
  font-size: 150%;
  color: rgb(247, 250, 251);
  background-color: rgba(50, 50, 50, 0.4);
}

#globality {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 50vh;

  background-image: url("./images/panoramic-view-of-city-lit-up-at-night-311012.jpg");  
}

#services {
  position: relative;    
  align-items: center;
  justify-content: space-around;
  min-height: 50vh; 
}

#services .services-hdg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 160%;
  margin: 0 1em;
}
#services .services-hdg h1{  
  text-align: center;
  font-size: 200%;
}
#services .services-hdg h3{
  margin-top: .5em;
  text-align: center;
}

#services .categories {
  display: grid;
  grid-template-columns: repeat( 3, 7em);
  grid-template-rows: repeat( 3, 7em); 
  grid-gap: .5em;    

  font-size: 110%;
  padding: .5em;
  margin-right: 1em;
  background-color: #1a6a6a
}

#services .box{
  padding: .5em;
  border: 1px solid peachpuff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;  
  border-radius: 4px;
  
  background-color: #132c33
}

#services .box:hover {
  font-weight: 600;
  border-width: 3px;
}
#services .b1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#services .b2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
#services .b3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
#services .b4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
#services .b5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
#services .b6 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

#historical-ref {
  display: flex;  
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 50vh;
  
  background-image: url("./images/bright-countryside-dawn-daylight-302804.jpg");
}
#historical-ref > div {
  background-color: rgba(50, 50, 50, 0.4);
  
}
#historical-ref .text-overlay {
  background-color: transparent;
}
#historical-ref .text-overlay p {
  font-weight: 600;
}

#contact-us {
  position: relative;
  flex-direction: column;
  min-height: 50vh;  
  font-size: 200%;
  padding: .7em 0;  
  text-align: center;
}
/* #contact-us p {
  margin: .5em 0;
} */
#contact-us p:last-child {
  margin-top: .5em;
}


#call-to-arms {
  display: flex;  
  justify-content: flex-start;
  min-height: 50vh;

  background-image: url("./images/flight-landscape-nature-sky-36717.jpg");
}

#call-to-arms .text-overlay {
  width: 45vw;  
  font-size: 150%;
  text-align: left;
  background-color: transparent;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  background-color: #0d1c20;
  color: rgb(143, 220, 238);
  /* color: #40eaea; */
  font-size: 100%;
  padding: .7em 0;
}
.footer span{
  padding: 0 .3em;  
}
.footer .seperator {  
  font-size: 150%;
}


@media all and (max-width: 699px) {
  
  .nav-container {
    /* position: relative; */
    flex-direction: row;
    background-color: rgba(13, 28, 32, .8)
  }  
  .nav-container label {
    display: block;
    margin: .5em;
  }
  .hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 1.1em;   
    margin-right: 0.3em;
    border-top: 0.15em solid rgb(143, 220, 238);
    border-bottom: 0.15em solid rgb(143, 220, 238);    
  }
  .hamburger:before {
      content: "";
      position: absolute;
      top: 0.35em;
      left: 0px;
      width: 100%;
      border-top: 0.15em solid rgb(143, 220, 238);      
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    right: 0;    
    flex-flow: column nowrap;    
    width: 0;
    
    max-height: 12em;
    text-align: left;
    overflow: hidden;
    transition: all .4s ease-in-out;

    margin: 0;
    background-color: rgba(13, 28, 32, .6);
  }
  .nav-menu li {
    padding: 0.3em .4em;
    margin: .2em .6em;
    background-color: rgba(13, 17, 14, .7);  
    font-size: 120%;
  }
  .nav-menu li:last-child {
    margin-bottom: .8em;
  }  
  .nav-menu li:first-child {
    margin-top: .8em;
  }  
  #nav-toggle:checked ~ .nav-menu { 
    width: 50%;
  }
  

  .basic-content {
    font-size: 150%;
  }

  #hero .title-block {
    font-size: 100%;
    margin: 1em;
  }
  #hero .sub-title {
    font-size: 125%;
  }

  #hero-overlay.title-block {
    bottom: 7vh;
    width: 80%;  
    left: 1vw;
  }
  #hero-overlay .sub-title {    
    font-size: 140%;    
  }

  #intro p {
    font-size: 110%;
  }

  .text-overlay {
    font-size: 110%;
    width: 55vw;
  }

  #globality .text-overlay {  
    /* font-size: 110%;
    width: 55vw; */
    margin: .5em 0 .5em .5em;
  }

  #services {
    flex-direction: column;
    font-size: 100%;
  }

  #services .services-hdg {    
    font-size: 120%;
    margin: 1em;
    padding-bottom: .25em;
    border-bottom: 1px solid #40eaea;
    /* blueviolet */
  }
  #services .categories {
    grid-template-columns: repeat( 2, 7em);
    grid-gap: .3em;  
    margin: 0 0 1em 0;
  }
  #services .box {
    border-radius: 50%;
    transform: rotate(-15deg);
  }  

  #services .b1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  #services .b2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #services .b3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  #services .b4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  #services .b5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  #services .b6 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  } 

  #call-to-arms .text-overlay {
    font-size: 110%;
  }

  .footer {
    flex-direction: column;
  }
  .footer span {
    margin: .2em;
    font-size: .9em;
  }
  .footer .seperator {
    display: none;
  }

}
